body {
    background-color:rgb(250, 64, 64); /*In case image does not work*/
    background-image: url(../media/images/red-silk-flag.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}

#center-box {
    background-color: dodgerblue; /*In case image does not work*/
    background-image: url(../media/images/royal-blue-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px;
    width: 20%;
    height: 70%;

    margin: 19% 34%;
    margin-top: 14%;

    padding: 5%;
}

.center-box-item {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Arial';
}

ul{
    list-style-type: none;
}

#select {
    text-decoration: none;
    color: white;
}

@font-face{
    font-family: 'Ananda-Black-Font';
    src: URL('../fonts/ananda-black-font/AnandaBlackPersonalUseRegular-rg9Rx.ttf') format('truetype');
}

@font-face{
    font-family: 'Arial';
    src: URL('../fonts/arial-cufonfonts/ARIAL.TTF') format('truetype');
}

h1 > a {
    text-decoration: none;
    color: rgb(255, 55, 58);
}

#title {
    font-family: 'Ananda-Black-Font';
    color: rgb(255, 55, 58);
    text-shadow: 2px 3px darkred;
}

#crown {
    width: 30%;
}

.left {

    float: inline-start;
    width: 50%;
    padding-left: 0px;
    text-align: left;
}

.right {
    float: inline-end;
    width: 50%;
    
}

ul {
    width: 100%;
    padding: 0px;
    text-align: start;
}

.input-boxes {
    color: black;
    font-weight: bolder;
    background-color: lightblue;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
}

.main-button{
    font-size: larger;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.main-button:hover{
    font-weight: bold;
}

.password {
    margin-top: 6px;
}

.company {
    margin-top: 6px;
}

div > h2 {
    color: rgb(6, 232, 232);
}

.left {
    color: rgb(6, 232, 232);
}

#submit-button {
    margin-top: 10px;
    width: 90px;
    height: 45px;
    font-size: larger;
    border-radius: 10px;
    background-color: red;
    border: 2px solid darkred;
}

#submit-button:active {
    background-color: red;
    border: 2px solid darkred;
    text-decoration: underline;
    color: white;
}

#submit-button:hover {
    font-weight: bold;
    cursor: pointer;
}

#select-company:hover {
    cursor: pointer;
}