<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="./css/main-style.css">
    </head>
    <body id="main-page">
        <div id="center-box">
            <div class="center-box-item">
                <img src="./media/images/crown.png" alt="crown" id="crown">
            </div>
            <div class="center-box-item">
                <h1 id="title"><%=title%></h1>
            </div>

            <div class="center-box-item">
                <h2>Log In</h2>
            </div>

            <div class="center-box-item">
                <form name="signup" action="/auth/signUp" method="post">
                    <ul>
                        <li>
                            <span class="left">User Name:</span> <span class="right"><input name="username" id="username" class="input-boxes"/></span>
                        </li> <br>
                        <li>
                            <span class="left">User Password:</span><span class="right"><input type="password" name="password" id="password" class="input-boxes"/></span>
                        </li> <br>
                    </ul>
                    <input type="submit" id="submit-button" value="SIGN UP"/>
                </form>
            </div>

        </div>
    </body>
</html>