<!DOCTYPE html>
<html>
    <head>
        <title>UserID - </title>
        <link rel="stylesheet" href="./css/session-style.css">
    </head>
    <body>
        <div>
            <div>
                <h1></h1>
            </div>
            <nav>
                <a href="">Home</a>
                <a href="">Orders</a>
                <a href="">Inventory</a>
                <a href="/">Log Out</a>
            </nav>
        </div>
        
        
        
    </body>
</html>