<!DOCTYPE html>
<html>
    <head>
        <title>UserID - <%= user.username %></title>
        <link rel="stylesheet" href="../css/session-style.css">
    </head>
    <body>
        <header>
            <div>
                <h1><%= user.company %></h1>
                <h2>Welcome, <%= user.username %></h2>
            </div>
            <nav>
                <a href="/profile">Profile</a>

                <a href="/profile/orders">Orders</a>
                <a href="/profile">Inventory</a>
                <a href="/">Log Out</a>
            </nav>
        </header>
        
        <% if(page === 'profile'){ %>
            <div id="text">
                PROFILE 
            </div>
        <% } else if (page === 'orders') {%>
            <div id="text">
                ORDERS
            </div>
        <% } %>
        <footer>

        </footer>
    </body>
</html>