<!DOCTYPE html>
<html>
    <head>
        <title>UserID - <%=title%></title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div>
            <div>
                <h1><%=title%></h1>
            </div>
            <nav>
                <a href="">Home</a>
                <a href="">Orders</a>
                <a href="">Inventory</a>
                <a href="/">Log Out</a>
            </nav>
        </div>
        

        <ul>
            <% sessions.map((i) => {
                %> <li><%=i.title%> <%=i.desc%></li> <%
            })

            %>
        </ul>
    </body>
</html>